<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css')}}" type="text/css">

    <!-- shop css -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/shop.css')}}" type="text/css">


        <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css')}}" type="text/css">

    <!-- Owl-Carousel-CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}" type="text/css">

    <!-- font-awesome icons -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome-all.min.css')}}" type="text/css">



    <!-- //online-fonts -->
</head>

<body>
   	 <!-- header -->
    <header>
        <div class="container">
            <!-- top nav -->

                <!-- logo -->
                <h2>
				<center><hr>
Price Negotiator E-Commerce Chatbot System
				<hr>
</center>
                </h1>
                <!-- //logo -->
                    </div>
                </div>
            </nav>
            <!-- //top nav -->
            <!-- bottom nav -->
            <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('adminhome') }}">Home
                            </a>
						</li>
						<li class="nav-item">
                            <a class="nav-link" href="{{ url_for('addcategory') }}">Add Category</a>
                        </li>

						<li class="nav-item">
                            <a class="nav-link " href="{{ url_for('addproduct') }}">Add Product</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link " href="{{ url_for('viewproducts') }}">View Products</a>
                        </li>
             			<li class="nav-item">
                            <a class="nav-link " href="{{ url_for('accuracy') }}">View Accuracy</a>
                        </li>

						<li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- //bottom nav -->
        </div>
        <!-- //header container -->
    </header>
    <!-- //header -->
	<!-- inner banner -->
	<div class="ibanner_w3 pt-sm-5 pt-3">
		<h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
			<span>P</span>rice
			<span>N</span>egotiator </h4>
			<center><font color="#ffffff">E-Commerce Chatbot System
	</div>
	<!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">

            </li>

        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <section class="blog_wthree py-5">
        <div class="container">
            <h5 class="head_agileinfo text-center text-capitalize pb-5">

			</h5>
            <!-- blog row -->
</font>