

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

     <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css')}}" type="text/css">

    <!-- shop css -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/shop.css')}}" type="text/css">




    <!-- Owl-Carousel-CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}" type="text/css">

    <!-- font-awesome icons -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome-all.min.css')}}" type="text/css">

    <!-- //Custom Theme files -->
    <!-- online-fonts -->

    <!-- //online-fonts -->
     <script>
        $(document).ready(function () {
            $('ul li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
            });
        });
    </script>
</head>

<body>
   	 <!-- header -->
    <header>
        <div class="container">
                       <h2>
				<center><hr>
Price Negotiator E-Commerce Chatbot System
				<hr>
</center>
                </h1>
                <!-- //logo -->
                       </h2>
             </div>
                </div>
            </nav>
            <!-- //top nav -->
            <!-- bottom nav -->
            <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('userhome') }}">Home
                            </a>
						</li>


						<li class="nav-item dropdown has-mega-menu" style="position:static;">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ url_for('shopping') }}" role="button" aria-haspopup="true" aria-expanded="false">shoppng</a>
                            <div class="dropdown-menu" style="width:100%">
                                <div class="px-0 container">
                                    <div class="row">
                                        <div class="col-md-4">



                                         </div>
                                    </div>
                                </div>
                            </div>
                        </li>

						<li class="nav-item">
                            <a class="nav-link" href="{{ url_for('vieworders') }}">View Orders</a>
                        </li>
						<li class="nav-item">

<a href="#" class="nav-link" onclick="window.open('http://localhost:1234/chat', 'newwindow', 'width=750, height=600'); return false;">Chatbot</a>

                        </li>
                   	<li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- //bottom nav -->
        </div>
        <!-- //header container -->
    </header>
    <!-- //header -->
	<!-- inner banner -->
	<div class="ibanner_w3 pt-sm-5 pt-3">
		<h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
			<span>P</span>rice
			<span>N</span>egotiator </h4>
			<center><font color="#ffffff">E-Commerce Chatbot System
            </font></center></div>
	<!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">

            </li>

        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <section class="blog_wthree py-5">
        <div class="container">
            <h5 class="head_agileinfo text-center text-capitalize pb-5">

			</h5>
            <!-- blog row -->
</font>
            </div>
        </div>
    </section>
    <!-- //blog row -->
